:root{
    --darkblue: #1B313E;
    --fullPageBackground: #F4F4F9;
    --textBackground: #FFFFFF;
    --red: #E63A32;
    --black: #000000;

}

html{
    background-color: var(--fullPageBackground);
    
}

.post{
    background-color: var(--textBackground);
    width: 80%;
    margin-left: 10em;
    margin-bottom: 0;
    
}

h1{
    color: var(--darkblue);
   
}

.nameOfPost{
    margin-left: 2em;
    margin-top: 1em;
}

p{
    color:var(--black);
    width: 75%;
    text-align: center;
    font-size: large;
    align-self: center;
    margin-left: 4em;

}

/*Header*/
.header{
    background-color: var(--darkblue);
    text-align: center;
    color: var(--fullPageBackground);
}

/*footer*/
p.header{
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

/*button next*/
.buttonNext{
    margin-left: 40%;
    background-color:  var(--darkblue);
    border: none;
    color:var(--red);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

/*menu*/
a{

        background-color:  var(--darkblue); /* Green */
        border: none;
        color:var(--red);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}

.menu{
    margin-left: 30%;
}